.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.rightbarProfileImageContainer{
    margin-right: 10px;
    position: relative;
}
.rightbarProfileImages{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}
.rightbarOnline{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: -2px;
    right: 0;
    border: 2px solid white;
}
.rightbarUserName{
    font-weight: 500;
}